@charset "utf-8";
/* =============================================================================
   Definições de exibição HTML5
   ========================================================================== */
* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline;
*zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] {
display: none;
}
/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrigir problemas de redimensionamento no IE6/7 quando o tamanho da fonte do texto é configurado em unidades em
 * 2. Forçar a barra de rolagem vertical em navegadores diferentes do IE
 * 3. Impedir que o tamanho de texto do iOS se ajuste à mudança de orientação do dispositivo, sem desativar o zoom do usuário: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; }
/*
body, button, input, select, textarea { font-family:Helvetica,  Arial,  sans-serif; color: #222; }

 
 * Remover sombra de texto em destaque de seleção: h5bp.com/i
 * Estas declarações de seleção devem ser separadas
 * Também: rosa-choque (ou personalize a cor de fundo de acordo com seu design)!
 */

/* Dreamweaver: excluir estes comentários para personalizar o destaque da seleção
 *::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
 *::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 */

/* =============================================================================
   Links
   ========================================================================== */

a { color: #0066f2; text-decoration: underline; }
a:visited { color: #0066f2; }
a:hover { color: #06e; }
a:focus { outline: none; }
/* Melhorar a leitura quando estiver focado e passando por todos os navegadores: h5bp.com/h */
a:hover, a:active, a:link { outline: none; -moz-outline-style: none; }
/* =============================================================================
   Tipografia
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Declarar a família de fonte monoespaçada novamente: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 15px; line-height: 22px; letter-spacing: 0;}
/* Melhorar a leitura do texto pré-formatado em todos os navegadores */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
/* Posicionar o conteúdo subscrito e sobrescrito sem afetar a altura da linha: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* =============================================================================
   Listas
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
/* =============================================================================
   Conteúdo incorporado
   ========================================================================== */

/*
 * 1. Aprimorar a qualidade da imagem quando ela for redimensionada no IE7: h5bp.com/d
 * 2. Remover o espaço entre imagens e bordas em contêineres de imagens: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
/*
 * Corrigir o estouro não oculto no IE9 
 */

svg:not(:root) { overflow: hidden; }
/* =============================================================================
   Figuras
   ========================================================================== */

figure { margin: 0; }
/* =============================================================================
   Formulários
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
/* Indicar que 'rótulo' mudará o foco para o elemento de formulário associado */
label { cursor: pointer; }
/* 
 * 1. Corrigir cor não herdada no IE6/7/8/9 
 * 2. Corrigir o alinhamento exibido incorretamente no IE6/7 
 */

legend { border: 0; *margin-left: -7px;
padding: 0; }
/*
 * 1. Corrigir o tamanho de fonte não herdado em todos os navegadores
 * 2. Remover as margens no FF3/4 S5 Chrome
 * 3. Definir exibição de alinhamento vertical consistente em todos os navegadores
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;
}
/*
 * 1. Definir a altura da linha como normal para corresponder ao FF3/4 (a configuração utiliza !important na folha de estilos de UA)
 * 2. Corrigir o espaçamento interno exibido incorretamente no IE6/7
 */

button, input { line-height: normal; *overflow: visible;
}
/*
 * Reintroduzir espaçamento interno em 'tabela' para evitar problemas de sobreposição e espaço em branco no IE6/7
 */

table button, table input { *overflow: auto;
}
/*
 * 1. Exibir o cursor de mão para elementos de formulário clicáveis
 * 2. Permitir estilização de elementos de formulário clicáveis no iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
/*
 * Tamanho e aparência de caixa consistentes
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

/* 
 * Remover o preenchimento e a borda interior no FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
/* 
 * 2. Remover a barra de rolagem vertical padrão no IE 6/7/8/9 
 * 2. Permitir somente redimensionamento vertical
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Cores para validade de formulário */
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
background-color: #f0dddd;
}
/* =============================================================================
   Tabelas
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
/* ==|== estilos primários =====================================================
   Autor: 
   ========================================================================== */
/* ==|== classes auxiliares não semânticas ========================================
   Defina seus estilos antes desta seção.
   ========================================================================== */

/* Para substituição de imagem */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
/* Ocultar de leitores de tela e navegadores: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }
/* Ocultar apenas visualmente, mas disponibilizar para leitores de tela: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Expandir a classe .visuallyhidden para permitir que o elemento seja focalizável quando navegado através do teclado: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* Ocultar visualmente e de leitores de tela, mas manter layout */
.invisible { visibility: hidden; }
/* Contém flutuações: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== estilos de impressão =======================================================
   Estilos de impressão.
   Incorporado para impedir conexão HTTP necessária: h5bp.com/r
   ========================================================================== */
 
 @media print {
* { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; } /* Impressão mais rápida em preto: h5bp.com/s */
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Não mostrar links para imagens ou links javascript/internos */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; } /* h5bp.com/t */
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
 @page {
margin: 0.5cm;
}
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}
