/doc/gen/components/
/doc/gen/summary/summary.html
/doc/jsdoc/
/doc/model/pvc.options.xml.js
/doc/presentation/
/doc/user-guide/
/site/gen/templates.out.xml
/site/templates/

node_modules
.project
.classpath
.settings
build
target
release.properties
pom.xml.releaseBackup
*.iml
.idea
bin
*.class
*.jar
*.war
*.ear
.DS_Store
pentaho.log

# These jquery files are added/replaced by maven on every build
/ccc-js/src/main/javascript/package-res/lib/jquery.js