/dist
/site/templates/
/nbproject/private/
.DS_Store

/node_modules/
/.project
/.settings
/.idea
/.externalToolBuilders
/*.iml
/*.sublime-*
/viz/
/doc/jsdoc/
/doc/user-guide/
/doc/presentation/
/build/built-jar.properties
/build/classes
/build/empty
/examples/lib/codemirror/codemirror-3.12
/doc/model/pvc.options.out.xml
/Workflow-Analyzer.txt
/*.bat
/doc/kettle/output
/doc/gen/summary/summary.html
/site/gen/templates.out.xml
/doc/model/pvc.options.xml.js
