body {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  margin: 0;
  font-size: 16px;
  line-height: 27px;
  color: #555555;
  font-weight: 300;
}

p:first-child {
  cursor: default;
}

h5 {
	color: #555555;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-size: 28px;
  padding-top: 0;
  margin-top: 60px;
  margin-bottom: 0.45rem;
}

a.copyClipboard,
a.copyClipboard:link,
a.copyClipboard:visited {
	color: #ce0000;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
	text-decoration: none;
  display: block;
  float: left;
  width: 100%;
}

a.copyClipboard:after {
  content: "";
  margin-left: 10px;
  margin-top: 2px;
  position: absolute;
  width: 14px;
  height: 14px;
  background: url(img/copy-icon.svg) center center no-repeat;
}

.no-svg a.copyClipboard:after {
  background: url(img/copy-icon.png) center center no-repeat;
}

a.copyClipboard:hover,
a.copyClipboard:active,
a.copyClipboard:focus,
.ccc span.js-identifier a:hover{
	color: #ce0000;
	cursor: pointer;
  text-decoration: underline;
}

.chartDiv {
  display: block !important;
}

.chartDefs {
  position: relative;
}

@media (max-width: 480px) {
  .chartDefs {
    display: none;
  }
}

p.title {
	font-weight: 500;
	margin-top: 30px;
	padding: 5px 10px;
	border-bottom: 1px solid #dedede;
  font-size: 17px;
  line-height: 1.65;
  cursor: default;
}

a.copyClipboard + p.title{
  margin-top: 50px;
}

ul {
  padding-left: 21px;
}

ul li {
	font-size: 16px;
	font-weight: 300;
	line-height: 27px;
  list-style: none;
  margin-bottom: 2px;
}

ul li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 5px 0 -9px;
  border-radius: 50%;
  background-color: #ce0000;
}

/* -------------------------------------------------------------
    HDS HEADER
------------------------------------------------------------- */
.hds-header-wrapper{
  height: 56px;
  background: #f3f3f3;
  border-top: 5px solid #cf0000;
}


ul.hds-top-nav{
  margin: 0;
  display: block;
  float: right;
}

ul.hds-top-nav li{
  display: block;
  float: left;
  text-align: center;
  width: 135px;
  background: #e6e6e6;
  margin: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

ul.hds-top-nav li a{
  display: block;
  color: #333333;
  padding: 4px 10px;
  font-size: 13px !important;
  height: 51px;
  line-height: 46px !important;
}

ul.hds-top-nav li a:hover{
  text-decoration: underline;
}

ul.hds-top-nav li:before{
  display: none;
}

ul.hds-top-nav li:not(:last-child){
  margin-right: 1px;
}

.hds-logo{
  width: 277px;
  height: 33px;
  background: url(img/hds-logo.png) left center no-repeat;
  margin: 10px 0px 8px 10px;
  background-size: contain;
}

/* -------------------------------------------------------------
    HDS FOOTER
------------------------------------------------------------- */

h3.quick-links{
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 12px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.helpImproveWrapper .sub-footer{
  background: #3c3c3c;
  height: 200px;
}

ul.quick-links-list{
    width: 50%;
    list-style-type: none;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

ul.quick-links-list li{
    font-weight: 400;
    margin-bottom: 6.0px;
    line-height: 14px !important;
    font-size: 14px !important;
}

ul.quick-links-list li a{
    color: #fff;
    padding: 2px 0px;
    font-size: 11.34px !important;
    line-height: 14px !important;
}

ul.quick-links-list li a:hover{
  text-decoration: underline;
}

.sub-footer ul li:before{
    display: none;
}

ul.social-links-footer{
  margin-top: 57px;
  float: right;
}

ul.social-links-footer li{
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

ul.social-links-footer li a{
    background: url(img/icons.png) 0.0px -2.0px no-repeat;
    text-indent: -99999.0px;
    margin-right: 15px;
    display: block;
    width: 30.0px;
    height: 30.0px;
    font-size: 0 !important;
}

ul.social-links-footer li a.facebook{
    background: url(img/icons.png) 0.0px -2.0px no-repeat;
}

ul.social-links-footer li a.twitter{
    background: url(img/icons.png) -52.0px 0.0px no-repeat;
}

ul.social-links-footer li a.linkedin{
    background: url(img/icons.png) -104.0px 0.0px no-repeat;
}

ul.social-links-footer li a.youtube{
  
    background: url(img/icons.png) -211.0px 0.0px no-repeat;
}

.copywrite p{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000000;
  font-size: 11.34px !important;
  font-weight: normal;
  line-height: 1.25;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* -------------------------------------------------------------
    TRYME BUTTON
------------------------------------------------------------- */

button.btn.tryMe {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #fff;
  color: #ce0000;
  cursor: pointer;
  padding: 8px 35px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 17px;
  height: 34px;
  letter-spacing: .13em;
  outline: none;
  bottom: 15px;
  right: 15px;
  position: absolute;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border: 1px solid #ce0000;
}

button.btn.tryMe:hover {
  color: #ffffff;
  border:1px solid #ce0000;
  background: #ce0000;
  transition: .3s all linear;
  -moz-transition: .3s all linear;
  -webkit-transition: .3s all linear;
  outline: 0;
}

button.btn.tryMe:after {
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  top: -100%;
  background: #ce0000;
  color: #fff;
  content: 'Updated!';
  font-weight: 600;
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform-origin: 0% 100%;
  -moz-transform: rotateX(90deg);
  -ms-transform-origin: 0% 100%;
  -ms-transform: rotateX(90deg);
  transform-origin: 0% 100%;
  transform: rotateX(90deg);
}

button.btn.tryMe:before {
  top: 100%;
  background: #e96a6a;
  color: #fff;
  content: 'Error!';
  font-weight: 600;
  font-family: 'Open Sans', Calibri, Arial, sans-serif;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

button.btn.tryMe:active {
  background: #e96a6a;
  -webkit-box-shadow: 0px 3px 5px 0px #e96a6a inset;
  -ms-box-shadow: 0px 3px 5px 0px #e96a6a inset;
  -o-box-shadow: 0px 3px 5px 0px #e96a6a inset;
  box-shadow: 0px 3px 5px 0px #e96a6a inset;
}

button.btn.tryMe:after,
button.btn.tryMe:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  line-height: 34px;
}

button.btn.tryMe.btn-success3d {
  background: #aaa;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg) translateY(100%);
  -moz-transform-origin: 50% 100%;
  -moz-transform: rotateX(-90deg) translateY(100%);
  -ms-transform-origin: 50% 100%;
  -ms-transform: rotateX(-90deg) translateY(100%);
  transform-origin: 50% 100%;
  transform: rotateX(-90deg) translateY(100%);
}

button.btn.tryMe.btn-error3d  {
  background: #aaa !important;
  -webkit-transform-origin: 50% 0% !important;
  -webkit-transform: rotateX(90deg) translateY(-100%) !important;
  -moz-transform-origin: 50% 0% !important;
  -moz-transform: rotateX(90deg) translateY(-100%) !important;
  -ms-transform-origin: 50% 0% !important;
  -ms-transform: rotateX(90deg) translateY(-100%) !important;
  transform-origin: 50% 0% !important;
  transform: rotateX(90deg) translateY(-100%) !important;
}

body.cccframe h5{
    font-size: 16px;
    font-weight: 400;
    color: #ce0000;
    text-transform: uppercase;
    margin-bottom: 15px;
}

body.cccframe{
  margin: 0;
}


@media (max-width: 643px) {
  body.cccframe {
    margin: 0 !important;
  }

  .CodeMirror-scroll {
    padding-bottom: 90px !important;
  }
}
