  <div class="community-footer">
    <div class="helpImproveWrapper">
      <div class="helpImprove">
        <p>Help us improve this website. Send your feedback to <a href="mailto:community@pentaho.com" class="footer-link">community@pentaho.com</a></p>
        <section class="footer-social-wrapper">
          <div class="region region-footer-social">
            <div class="content text-right">
              <a class="footer-social-item youtube" href="https://www.youtube.com/user/pentaho" target="_blank"></a>
              <a class="footer-social-item gplus" href="https://plus.google.com/+Pentahocorporation/posts" target="_blank"></a>
              <a class="footer-social-item twitter" href="http://twitter.com/Pentaho" target="_blank"></a>
              <a class="footer-social-item facebook" href="http://www.facebook.com/pentaho" target="_blank"></a>
              <a class="footer-social-item linkedin" href="http://www.linkedin.com/company/pentaho" target="_blank"></a>
              <a class="footer-social-item rss-feed" href="http://www.pentaho.com/blog"></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
