.site-footer {
  background: #f5f5f5;

  padding: 2em;
  margin: 0;

  .footer-wrapper {
    max-width: 55rem;
    margin: 0 auto;

    h2 {
      display: inline-block;

      margin: 0;
      font-size: 1.05em;
      font-weight: bold;
    }

    ul {
      display: inline-block;

      li {
        display: inline-block;
        padding-right: 4em;
        margin-top: 0.2em;
      }
    }
  }
}
