@charset "utf-8";
/* CSS Document */










/*new tabs*/
	.etabsCtools { list-style: none outside none; margin: 0; padding: 0; margin-top:20px; margin-left:10px; height:20px; width:930px; padding-left:60px; }
    .tabCtools { display: inline-block; }
    .tabCtools a { color: #666; padding-top: 2px; padding-bottom: 2px; padding-left:20px; padding-right:20px; text-decoration: none;}
    .tabCtools a:hover {
		color: #F5F5F5;
	background-color:#999999;
	padding-top: 2px;
	padding-left:20px;
	padding-bottom:2px;
	padding-right:20px;

	-webkit-transition: all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-ms-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
	transition: all 400ms ease-in;
	
		

	-webkit-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
	}
    .tabCtools.active {
		
	}
    .tabCtools a.active {
		color: #FFF;
	background-color:#999999;
	padding-top: 2px;
	padding-left:20px;
	padding-bottom:2px;
	padding-right:20px;

	-webkit-transition: all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-ms-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
	transition: all 400ms ease-in;
			
	-webkit-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
	}
    .tabCtools-container {  }
	.tabCtools a:focus { outline: 0 none; }
/*end new tabs*/





















/*################ WDEXPAND.CSS ################*/












/*__________NON EXPANDABLE CONTENT__________*/




#homecdf  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#fa6914;}


#homecde  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#0b99d5;}


#homecdc  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#03272a;}



#homecgg  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#777a3d;}


#homecdv  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#55a028;}

#homecst  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#772059;}


#homecda  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#8fd400;}

#homecdg  { display:block;  overflow:hidden;  width:960px; height:180px; background-color: #ff9900;}


#homecdb  {display:block;  overflow:hidden;  width:960px; height:180px; background-color: #395b68;}


#homeccc  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#e20a16;}


#homecbf  { display:block;  overflow:hidden;  width:960px; height:180px; background-color:#dc0067;}


/*__________FIM NON EXPANDABLE CONTENT__________*/


.Ccontentstatic {
	padding-top:0px; padding-left:0px;   margin-top:0px; margin-left:0px;  width:960px; margin-top:0px;
	background-color:#999;
	 
	
	height:140px;



display:block; 
 overflow:hidden; 


	
	
	/*
	
	-webkit-border-radius: 4px;

	border-radius: 4px;	


*/
}








/*__________NON EXPANDABLE HEADER__________*/

.c_headingstatic  { 	
	padding-left:0px;
	padding-right:20px;
	padding-bottom:30px;
	padding-top:0px;
	height:200px;
	width:300px;
	margin-top:10px;
	margin-left:0px;
	display:block;
	overflow:hidden;
	
}
 
/*__________FIM NON EXPANDABLE HEADER__________*/



/*################ WD.CSS ################*/

/*__________TABS__________*/



/*__________FIM TABS__________*/

/*__________TABS CDA DOCUMENTATION__________*/

ul.cda_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cda_tabNavigation li {
    display: inline;
}

ul.cda_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cda_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cda_tabNavigation li a.selected {
	color: #fff;
	background-color:#8FD400;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cda_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS CDA DOCUMENTATION__________*/




/*__________TABS CCC CHARTS CHARTS__________*/

ul.ccc_charts_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
}

ul.ccc_charts_tabNavigation li {
    display: inline;
}

ul.ccc_charts_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.ccc_charts_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.ccc_charts_tabNavigation li a.selected {
	color: #fff;
	background-color:#E20A16;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.ccc_charts_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS DOCUMENTATION__________*/





/*__________TABS CCC DOCUMENTATION__________*/

ul.ccc_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.ccc_tabNavigation li {
    display: inline;
}

ul.ccc_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.ccc_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.ccc_tabNavigation li a.selected {
	color: #fff;
	background-color:#E20A16;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.ccc_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS DOCUMENTATION__________*/






/*__________TABS CDE DOCUMENTATION__________*/


ul.cde_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cde_tabNavigation li {
    display: inline;
}

ul.cde_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cde_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cde_tabNavigation li a.selected {
	color: #fff;
	background-color:#0B99D5;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cde_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS DOCUMENTATION__________*/










/*__________TABS CDC DOCUMENTATION__________*/
ul.cdc_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cdc_tabNavigation li {
    display: inline;
}

ul.cdc_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cdc_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdc_tabNavigation li a.selected {
	color: #fff;
	background-color:#03272A;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdc_tabNavigation li a:focus {
    outline: 0 none; }
/*__________FIM TABS cdc DOCUMENTATION__________*/


/*__________TABS CDF DOCUMENTATION__________*/

ul.cdf_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cdf_tabNavigation li {
    display: inline;
}

ul.cdf_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cdf_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdf_tabNavigation li a.selected {
	color: #fff;
	background-color:#fa6914;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdf_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS DOCUMENTATION__________*/


/*__________TABS CDG DOCUMENTATION__________*/

ul.cdg_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cdg_tabNavigation li {
    display: inline;
}

ul.cdg_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cdg_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdg_tabNavigation li a.selected {
	color: #fff;
	background-color:#FF9900;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdg_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS cdg DOCUMENTATION__________*/


/*__________TABS CBF DOCUMENTATION__________*/

ul.cbf_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cbf_tabNavigation li {
    display: inline;
}

ul.cbf_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cbf_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cbf_tabNavigation li a.selected {
	color: #fff;
	background-color:#DC0067;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cbf_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS CBF DOCUMENTATION__________*/









/*__________TABS CDV DOCUMENTATION__________*/

ul.cdv_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cdv_tabNavigation li {
    display: inline;
}

ul.cdv_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cdv_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdv_tabNavigation li a.selected {
	color: #fff;
	background-color:#55A028;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cdv_tabNavigation li a:focus {
    outline: 0 none;
}
/*__________FIM TABS DOCUMENTATION__________*/

/*__________TABS CST DOCUMENTATION__________*/

ul.cst_tabNavigation {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	height:40px;
	width:900px;
	border-bottom: 1px dotted #ccc;
	margin-top:10px;
	
	
}

ul.cst_tabNavigation li {
    display: inline;
}

ul.cst_tabNavigation li a {
	color: #000;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
    text-decoration: none;
	
	
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
}

ul.cst_tabNavigation li a:hover {
	background-color:#999;
    padding-top: 2px;
	padding-bottom: 1px;
	padding-left:12px;
	padding-right:12px;
	color: #fff;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cst_tabNavigation li a.selected {
	color: #fff;
	background-color:#772059;
    padding-top: 2px;
	padding-left:12px;
	padding-bottom:1px;
	padding-right:12px;
	
	
		
		-webkit-border-radius: 6px;
    
    border-radius: 6px;
		
	-webkit-transition: all 400ms ease-in;
		-moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
}

ul.cst_tabNavigation li a:focus {
    outline: 0 none; }
/*__________FIM TABS DOCUMENTATION__________*/

/*__________TABS CONTENT__________*/


#tabccc, #tabcbf, #tabcda, #tabcde, #tabcdb, #tabcdc, #tabcdf, #tabcgg, #tabcdv, #tabcst, #tabcdg
{  display:block; margin-top:2px; overflow:hidden; padding-bottom:5px;
	}

	
div.cda_tabs > div {   
    padding: 0px;
	margin-top:-3px;
}

div.cda_tabs > div h2 {
    margin-top: 1000;
}


div.cdc_tabs > div {   
    padding: 0px;
	margin-top:-3px;
}

div.cdc_tabs > div h2 {
    margin-top: 1000;
}



div.cdf_tabs > div {   
    padding: 0px;
	margin-top:-3px;
}

div.cdf_tabs > div h2 {
    margin-top: 1000;
}



div.cdv_tabs > div {   
    padding: 0px;
	margin-top:-3px;
}

div.cdv_tabs > div h2 {
    margin-top: 1000;
}



div.cst_tabs > div {   
    padding: 0px;
	margin-top:-3px;
}

div.cst_tabs > div h2 {
    margin-top: 1000;
}





div.cbf_tabs > div {   
    padding: 0px;
	margin-top:-3px;
}

div.cbf_tabs > div h2 {
    margin-top: 1000;
}


.clear {
	clear:both;	
}

.negrito {
	font-weight:bold;	
}
/*__________FIM TABS CONTENT__________*/

/*__________TABLES___________*/

.tableQueryResult
{
width:900px;;
border-collapse:collapse;
border:1px solid #98bf21;
}
.tableQueryResult td, .tableQueryResult th 
{
font-size:14px;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
.tableQueryResult th 
{
font-size:14px;
text-align:left;
padding-top:5px;
padding-bottom:4px;
/*background-color:#A7C942;*/
background-color:#8fd400;
color:#ffffff;
}

/*__________ENT TABLES___________>


/*________________CHARTS_________________*/

.graphDefs {
	background-color: #efefef;
	border:0;
	padding: 10px;
	margin:auto;
	
}


/*_______________END CHARTS_________________*/




/*_______________ OTHER ____________________*/

.footerSpace {
	width: 900px;
	height: 50px;	
}

.vSpacer {
	width: 900px;
	height: 40px;	
}

.codediv {	/*divs with code examples*/
	border: 1px dotted #ccc;
	padding:10px;
	width: 880px;
	margin:auto;
	background-color: #fff;
}

/* NEW COLUMNS */
.columnContent {
	width: 935px;
	padding: 0px;
	padding-left: 30px;
	margin-top:10px;
	display: block;
	overflow: hidden;
	margin-bottom:0px;
	padding-bottom:20px;
	font-family: 'Gudea', sans-serif;
	font-size:14px;
	line-height:150%;
	text-decoration: none;
	font-weight: 100;
	font-style: normal;
	color: #444444;
}

.column {
	list-style: none;
	float:left;
	padding-right:30px;
    width:280px;
	min-height: 10px;
	/*padding-bottom:20px;*/
}

.chartContent {
	width: 880px;
	padding: 0px;
	margin-top:10px;
	display: block;
	overflow: hidden;
	margin-bottom:0px;
	padding: 10px;
	font-family: 'Gudea', sans-serif;
	font-size:14px;
	line-height:150%;
	text-decoration: none;
	font-weight: 100;
	font-style: normal;
	color: #444444;
	background-color: #EFEFEF;
}

.chartDefs {
	border:0;
	padding: 10px;
	width:430px;
	float:left;
	min-height:20px;
	background-color: #efefef;
	-webkit-box-shadow:  0px 1px 2px 0px #999;
    		box-shadow:  0px 1px 2px 0px #999;
}

.chartDefsTextArea {
	border:0;
	padding: 10px;
	width:405px;
	float:left;
	min-height:20px;
	background-color: #efefef;
	margin-bottom:10px;
	resize:none;
}

.chartDiv {
	padding:10px;
	width: 405px;
	float:right;
	min-height:20px;
	overflow:hidden;
}

.tryMe {
	width:430px;
	cursor:pointer;
	background-color: #666;
	-webkit-box-shadow:  0px 1px 2px 0px #999;
    		box-shadow:  0px 1px 2px 0px #999;
	color: white;
	border:0;
	padding-top: 10px;
	padding-bottom:10px;
	font-family: 'Gudea', sans-serif;
	font-size:18px;
	line-height:150%;
	-webkit-border-radius: 6px;
			border-radius: 6px; 
}

.tryMe:hover {
	width:430px;
	cursor:pointer;
	background-color: #999;
	-webkit-box-shadow:  0px 1px 2px 0px #999;
    		box-shadow:  0px 1px 2px 0px #999;
	color: white;
	border:0;
	padding-top: 10px;
	padding-bottom:10px;
	font-family: 'Gudea', sans-serif;
	font-size:18px;
	line-height:150%;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}