@charset "utf-8";

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.bar a:link {
	background-color: #E9E9E9;
	height: 50px;
	display: block;
}

.bar a:hover {
	background-color: #fff;
}

.bar2 a:link {
	background-color: #E9E9E9;
	height: 50px;
	display: block;
	padding-left: 10px;
}

.bar2 a:hover {
	background-color: #fff;
}

/* ~~ Element/tag selectors ~~ */

ul, ol, dl {/* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0; /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
	letter-spacing: 0px;
}

.maincontainer {
	width: 100%;
	background-color: #0FF;
}

.container {
	width: 90%;
	max-width: 1024px;
	margin: 160px auto 0px;
	z-index: 0;
	position: relative;
	background-color: #600;
	padding: 20px;
	background-color: #f9f9f9;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid #DADADA;
	border-top: 1px #fff solid;
}

.containerBody {
	width: 100%;
	padding: 30px;
	padding-left: 0px;
	padding-right: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	position: relative;
	z-index: 1;
}

.content, .ctools.ipad .content {
	margin-top: 10px;
	width: 64.32%;
	float: left;
	position: relative;
	z-index: 2;
}

.content .leftFloat {
	float: left;
	width: 48%;
}

.content .rightFloat {
	float: right;
	width: 48%;
}

.content p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #444;
	padding: 0;
}

.content p.title {
	margin-top: 40px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #137bca;
	padding-bottom: 0px;
	text-transform: inherit;
	font-size: 22px;
	line-height: 1.5em;
}

.content h1:first-child {
	padding: 0;
	color: #222;
	margin-top: 0px;
	padding-bottom: 2px;
	margin-bottom: 40px;
}

.content h1 {
	padding: 0;
	padding-bottom: 2px;
	padding-top: 5px;
	border-bottom: 1px dotted #ccc;
	font-weight: 300;
	font-style: normal;
	color: #333;
	text-rendering: optimizeLegibility;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 20px;
	margin-top: 2.8em;
	font-family: 'Open Sans', sans-serif;
}

p.sig {
	font-size: 12px;
	color: #777;
	border-top: 1px solid #e3e3e3;
	margin-top: 40px;
}

.content p.leg {
	font-size: 11px;
	margin-top: 10px;
	color: #777;
	border-top: 1px solid #e3e3e3;
	margin-bottom: 35px;
	text-align: right;
}

.content h2 {
	font-size: 25px;
	margin-bottom: 20px;
	padding-left: 0;
	color: #222;
	margin-top: 40px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.content ol {
	margin-left: 21px;
	font-size: 15px;
	line-height: 22px;
	color: #444;
	font-weight: 700;
}

.content ol li span {
	font-weight: normal;
}

.content ol li {
	margin-bottom: 10px;
}

.content ul {
	list-style-position: outside;
	margin-left: 11px;
	font-size: 15px;
	list-style: url(../images/list.png);
	line-height: 22px;
	color: #444;
}

.content ul li {
	margin-bottom: 10px;
}

.client-logo img {
	margin-bottom: 30px;
}

.component ul.compontents li {
	margin-bottom: 10px;
}

.sidebar {
	width: 300px;
	float: right;
	position: relative;
}

.sidebar .title {
	width: 300px;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 15px;
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

header, section, footer, aside, article, figure {
	display: block;
}

.clear {
	clear: both;
}

/* ######################################## TABS ######################################## */
/*__________TABSDOCUMENTATION__________*/

.etabs {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 10px;
}

ul.etabs {
	margin-left: 0;
}

.tab {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: #F5F5F5;
}

.tab a {
	font-size: 0.8em;
	line-height: 1.9em;
	display: block;
	padding: 2px 6px 1px;
	outline: none;
	color: #666;
	height: 25px;
	text-decoration: none;
	letter-spacing: 0.02em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: lowercase;
}

.tab a:link, .tab a:visited {
	color: #666;
}

.tab a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #137bca;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-ms-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
	transition: all 400ms ease-in;
}

.tab.active {
	position: relative;
}

.tab a.active {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: default;
	color: #f9f9f9;
	background-color: #137bca;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 1px 2px 0px #0b4978;
	box-shadow: inset 0px 1px 2px 0px #0b4978;
}

.tab-container .panel-container {
	background: #fff;
	padding: 10px;
	margin-left: 0;
}

#charts-tab-container .tab.active {
	position: relative;
}

.charts-tab-container .tab.active {
	position: relative;
}

/*__________FIM TABS DOCUMENTATION__________*/

code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
}

pre code {
	line-height: 1.6em;
	font-size: 12px;
}

pre {
	padding: 10px;
	margin: 20px 0 20px 2px;
	overflow: auto;
	width: 90%;
	color: #777;
	background: #ffffff;
	line-height: 18px;
	font-size: 11px;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/*######## TABELAS #########*/

.tableQueryResult {
	border: 1px solid #4d636c;
	border-collapse: collapse;
	width: 620px;
	font-size: 12px;
	margin: 20px 0;
}

.tableQueryResult td, .tableQueryResult th {
	border: 1px solid #4d636c;
	padding: 3px 7px 2px;
	font-size: 13px;
}

.tableQueryResult th {
	background-color: #2c393e;
	color: #FFFFFF;
	padding-bottom: 4px;
	padding-top: 5px;
	text-align: left;
}

/*######## FIM TABELAS #########*/

/*________________CHARTS_________________*/

.chartContent {
	width: 100%;
	padding: 0px;
	margin-top: 10px;
	display: block;
	overflow: hidden;
	margin-bottom: 0px;
	line-height: 150%;
	text-decoration: none;
	font-weight: 100;
	font-style: normal;
	max-width: 100% !important;
}

.chartDefs {
	border: 0;
	width: 100%;
	min-height: 20px;
}

.chartDefsTextArea {
	border: 0;
	width: 100%;
	min-height: 20px;
	margin-bottom: 10px;
	resize: none;
	background-color: #f5f5f5;
	border-left: 11px solid #e20a16;
}

.chartDiv {
	width: 100%;
	min-height: 20px;
	overflow: hidden;
}

.tryMe, .tryMe:visited {
	background-color: #137bca;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 13px !important;
	font-weight: 400 !important;
	line-height: 28px;
	height: 30px !important;
	-webkit-box-shadow: 0px 1px 1px 0px #aaa !important;
	-moz-box-shadow: 0px 1px 1px 0px #aaa !important;
	box-shadow: 0px 1px 1px 0px #aaa;
	outline: none; !important
	-moz-outline-style: none;
	display: block;
	min-width: 120px;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	right: 0px;
	position: relative;
	width: 99.88%;
	border: 0;
	margin-bottom: 5px;
}

.tryMe:hover {
	background-color: #1887db !important;
	color: #fff !important;
	-webkit-box-shadow: 0px 1px 0px 0px #aaa !important;
	box-shadow: 0px 1px 0px 0px #aaa !important;
	cursor: pointer;
}

.tryMe:active {
	transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	-webkit-transition: all ease-in-out 0.1s;
	-webkit-box-shadow: inset 0px 1px 1px 0px #444 !important;
	box-shadow: inset 0px 1px 1px 0px #444 !important;
}

/*######## BANNER CTOOLS / RELATED #########*/

div.item {
	margin: 5px 0px 5px 0px;
}

div.item p {
	padding: 0;
}

.button a {
	display: block;
	width: 140px;
	height: 25px;
	font-size: 14px;
	color: #fff;
	display: block;
	padding-left: 30px;
	text-align: left;
	line-height: 25px;
}

.button {
	width: 130px;
	float: right;
	right: 11%;
	height: 25px;
	margin-top: -32px;
	margin-left: 10px;
	margin-right: 0px;
	cursor: pointer;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	position: relative;
	list-style: none;
	padding: 0;
	display: block;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /*-webkit-box-shadow:  0px 1px 2px 0px #aaa;
	 box-shadow:  0px 1px 2px 0px #aaa;
	 -webkit-border-radius: 3px;
	 border-radius: 3px;
	 border:1px #1f2c32 solid; */
	overflow: hidden;
}

.votebutton a {
	float: left;
	position: relative;
	color: #137BCA !important;
	text-decoration: none !important;
	font-size: 18px;
	font-weight: 300;
	list-style: none;
	line-height: 30px;
	width: 75%;
	height: 32px;
	margin: auto;
	margin-top: 0px;
	padding: 0;
	display: block;
	text-align: center;
	border: 1px #e3e3e3 solid !important;
	border-top: 1px #FFF solid !important;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
	background-color: #fff;
	background-image: url(../images/optionbg.png);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.votebutton a:hover {
	color: #fff !important;
	background-color: #137BCA;
	background-image: none;
}

.votecounter {
	float: right;
	position: relative;
	color: #fff !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: 400;
	list-style: none;
	line-height: 30px;
	width: 23%;
	height: 32px;
	margin: auto;
	margin-top: 0px;
	padding: 0;
	display: block;
	text-align: center;
	border: 1px #e3e3e3 solid;
	border-top: 1px #FFF solid;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
	background-color: #333;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.buttonblockMobile {
	display: none;
}

.buttonblock {
	height: 32px;
	float: right;
	display: block;
	overflow: hidden;
	margin-top: 0px;
	min-width: 230px;
	padding: 0;
}

.buttondl a, .buttonlog a, .buttongit a, .buttoncontact a {
	display: block;
	float: right;
	height: 30px !important;
	width: 30px;
	background-position: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-repeat: no-repeat;
	margin-left: 5px;
	background-color: #F6F7F8;
	border: 1px #dadada solid;
	background-color: #fff;
	background-image: url(../images/menubar-iconset.png);
	text-shadow: 1px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.buttondl a:link {
	background-position: -69px -2px;
}

.buttonlog a:link {
	background-position: -102px -2px;
}

.buttongit a:link {
	background-position: -135px -2px;
}

.buttoncontact a:link {
	margin-left: 0px;
	width: 108px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	color: #666;
	background-position: -168px -2px;
	text-decoration: none;
}

.buttoncontact a:hover, .buttondl a:hover, .buttongit a:hover, .buttonlog a:hover {
	color: #333;
	background-color: #fff;
	box-shadow: inset 0px 0px 2px 0px #ccc;
	-moz-box-shadow: inset 0px 0px 2px 0px #ccc;
	-webkit-box-shadow: inset 0px 0px 2px 0px #ccc;
	transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	-moz-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	-webkit-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	border-top: 1px #e3e3e3 solid;
}

.button a:hover {
	background-color: #00a3cc;
	background-position: 0px 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.button a:active {
	transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	-webkit-transition: all ease-in-out 0.1s;
	-webkit-box-shadow: inset 0px 1px 2px 0px #666;
	box-shadow: inset 0px 1px 2px 0px #666;
}

.downloadicon {
	background-image: url(../images/download_02.png);
	background-repeat: no-repeat;
	display: block;
}

.button a:hover > .downloadicon {
	float: right;
	margin-top: -2px;
	background-image: url(../images/download_over.png);
	background-repeat: no-repeat;
}

.openicon {
	background-image: url(../images/new_window_icon.png);
	background-repeat: repeat;
	display: block;
}

.button a:hover > .openicon {
	background-image: url(../images/new_window_icon.png);
	background-repeat: no-repeat;
}

.log {
	background-image: url(../images/changelog_icon.png);
	background-repeat: repeat;
	display: block;
	float: right;
}

.button a:hover > .log {
	background-image: url(../images/changelog_icon.png);
	background-repeat: no-repeat;
}

/*######## BUTTONS LINKS #########*/

.buttondemo {
	text-align: right;
}

.buttondemo a:link, .buttondemo a:visited {
	background-color: #137bca;
	color: #FFFFFF;
	display: inline-block;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	min-width: 150px;
	padding: 0 15px;
	text-align: left;
	text-decoration: none;
	transition: all 0.25s linear 0s;
	right: 0px;
	position: relative;
	margin-top: 20px;
	font-weight: 300;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.viewdemoIcon {
	width: 24px;
	height: 24px;
	background-image: url(../images/viewDemo.png);
	display: block;
	float: right;
	position: relative;
	top: 50%;
	margin-top: -11px;
}

.buttondemo a:hover {
	background-color: #1887db;
	transition: all 0.25s linear 0s;
}

.buttonrequest {
	text-align: right;
}

.buttonrequest a:link, .buttonrequest a:visited {
	display: inline-block;
	height: 200px;
	line-height: 40px;
	min-width: 170px;
	padding: 0 15px;
	text-align: left;
	text-decoration: none;
	transition: all 0.25s linear 0s;
	right: 0px;
	position: relative;
	margin-top: 70px;
	font-weight: 300;
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 2px 0px #c2c2c2;
	-moz-box-shadow: inset 0px 1px 2px 0px #c2c2c2;
	box-shadow: inset 0px 1px 2px 0px #c2c2c2;
	text-decoration: none;
	cursor: pointer;
}

.buttonrequest a:hover {
	background-color: #f9f9f9;
	transition: all 0.25s linear 0s;
}

/*######## SAMPLES & DEMOS #########*/

.demo {
	width: 100%;
	display: block;
	margin-bottom: 0px;
	margin-top: 40px;
	border-bottom: #999 1px solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.demo.last {
	border-bottom: 0;
}

.demoImage {
	display: block;
	float: left;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 40px;
}

.demoImage img {
	max-width: 100%;
}

.demoDescription {
	width: 50%;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 40px;
}

.demoTitle {
	width: 100%;
	text-align: right;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: 300;
}

.demoTitle span {
	font-weight: 400;
}

p.demoFeatures {
	text-align: right;
	font-size: 11px;
}

.demo p {
	text-align: right;
	margin: 5px 0;
	line-height: normal;
}

.screen {
	width: 300px;
	height: 200px;
	display: block;
	margin-bottom: 20px;
	float: left;
	display: inline;
	padding-left: 20px;
}

/* SUBMENU */

.fixedmenu {
	width: 100%;
	margin: auto;
	overflow: hidden;
	display: block;
	z-index: 1002;
	top: 70px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgb(246, 247, 248);
	padding-bottom: 10px;
	padding-top: 20px;
}

.no-touch .fixedmenu {
	position: fixed;
}

.fixedmenuContent {
	width: 90%;
	max-width: 1024px;
	margin: 0px auto;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 00px;
	padding-top: 0px;
}

.no-touch .fixedmenuContent, .ipad .fixedmenuContent {
	padding-right: 0px;
	padding-top: 4px;
}

.fixedmenuContent ul {
	width: 60%;
	height: 30px;
	margin-left: 10px;
	margin-top: 2px;
	padding: 0;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	text-align: center;
	list-style: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-image: url(../images/optionbg.png);
	background-repeat: repeat-x;
	background-position: center 0px;
	border: 1px #e3e3e3 solid;
	border-top: 1px #FFF solid;
	background-color: #F6F7F8;
	border: 1px #dadada solid;
	-webkit-box-shadow: 0 1px  3px -1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px  3px -1px rgba(0, 0, 0, 0.15);
}

.fixedmenuContent li {
	width: 25%;
	height: 100%;
	margin-top: 0px;
	display: block;
	float: left;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	color: #666;
	text-align: center;
	outline: none;
	cursor: pointer;
	border-left: 1px #dadada solid;
	text-shadow: 1px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.fixedmenuContent li:first-child {

	border-left: none;
}

.fixedmenuContent .onlyThree li {
	width: 33.3333333333333333333%;
}

.fixedmenuContent .onlyOne li {
	width: 100%;
}

.fixedmenuContent .onlyTwo li {
	width: 50%;
}

.fixedmenuContent a:link {
	height: 100%;
	line-height: 28px;
	color: #666;
	display: block;
	text-decoration: none;
}

.fixedmenuContent a:visited {
	color: #666;
}

.no-touch .fixedmenuContent a:hover {
	color: #333;
	background-color: #f0f0f0;
	box-shadow: inset 0px 0px 2px 0px #ccc;
	-moz-box-shadow: inset 0px 0px 2px 0px #ccc;
	-webkit-box-shadow: inset 0px 0px 2px 0px #ccc;
	transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
}

.no-touch .fixedmenuContent a:active {

	color: #222;
	background-color: #eaeaea;
}

.fixedmenuContent li:first-child, fixedmenuContent li:first-child a, fixedmenuContent li:first-child.selected {
	border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
}

.fixedmenuContent li:last-child, fixedmenuContent li:last-child a, fixedmenuContent li:last-child.selected {
	border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
}

.fixedmenuContent li.selected a, .fixedmenuContent li.selected a:link, .fixedmenuContent li.selected a:visited, .fixedmenuContent li.selected a:hover, .fixedmenuContent li.selected a:active {

	color: #f9f9f9;
	background-color: #137bca;
	cursor: default;
	text-shadow: -1px -1px 0px #045b9e;
	filter: dropshadow(color=#045b9e, offx=-1, offy=-1);
	box-shadow: inset 0px 0px 2px 0px #0b4978;
	-moz-box-shadow: inset 0px 0px 2px 0px #0b4978;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0b4978;
}

/* ####### GOBACK $$$$$$$ */

.no-back .fixedmenuContent ul {
	padding-left: 0px !important;
	width: 65%;
	margin-left: 0px !important;
}

.no-back .goBack {
	display: none;
}

.goBack, .goBack:link, .goBack:visited {
	width: 30px;
	height: 30px;
	margin: 2px -5px 0px 0px;
	padding: 0;
	display: block;
	position: relative;
	float: left;
	overflow: hidden;
	cursor: pointer;
	list-style: none;
	background-image: url(../images/menubar-iconset.png);
	background-position: -2px -3px;
	background-repeat: no-repeat;
	background-color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px #e3e3e3 solid;
	border-top: 1px #FFF solid;
	background-color: #f9f9f9;
	border: 1px #dadada solid;
}

.goBack:hover {
	cursor: pointer;
	background-position: -35px -3px;
	transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	box-shadow: inset 0px 0px 2px 0px #ccc;
	-moz-box-shadow: inset 0px 0px 2px 0px #ccc;
	-webkit-box-shadow: inset 0px 0px 2px 0px #ccc;
	background-color: #f0f0f0;
	border-top: 1px #e3e3e3 solid;
}

.goBack:active {
	cursor: default;
	background-repeat: no-repeat;
	background-position: -2px -3px;
}

.goBack.inactive {
	background: none;
	color: #ddd;
}

.goBack.inactive:hover {
	cursor: default;
	color: #ddd;
}

/*######## HEADER #########*/

.headerAll {
	margin: auto;
	margin-top: 120px;
	width: 100%;
}

.headerCtools {
	height: 120px;
	text-align: center;
	width: 100%;
	display: block;
	border: none;
	margin: auto;
	display: block;
	margin-top: 40px;
}

.headerCtools img {
	z-index: 1001;
	max-width: 100%;
	max-height: 100%;
}

/* ctools adjustments */

.rodape {
	padding-top: 50px;
	width: 303px;
	text-align: center;
	left: 50%;
	margin-left: -151.5px;
	position: relative;
}

.rodape p {
	font-size: 10px;
	color: #666;
	text-align: center;
	padding-right: 5px;
}

.rodape img {
	float: left;
	text-align: center;
}

blockquote {
	color: #137bca;
	font-size: 26px;
	margin: 30px;
	margin-left:0px;
	padding: 0;
	font-style: normal;
	letter-spacing: 0.035em;
	text-align: left;
	line-height: 34px;
	font-weight: 300;
	text-align:left;
}

.image blockquote {
	float: right;
	width: 50%;
}

.image img {
	max-width: 40%;
}

.image {
	text-align: center;
}

/*boxlist*/

#boxlist {
	margin-top: 0px;
	width: 180px;
	float: right;
}

#boxlist h1 {
	padding: 0;
	padding-bottom: 2px;
	padding-top: 5px;
	font-weight: 300;
	font-style: normal;
	color: #222;
	text-rendering: optimizeLegibility;
	font-size: 18px;
	line-height: 1.2;
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
}

#boxlist h2 {
	padding: 0;
	padding-bottom: 2px;
	padding-top: 5px;
	font-weight: 500;
	font-style: normal;
	color: #137bca;
	text-rendering: optimizeLegibility;
	font-size: 12px;
	margin-top: -20px;
	font-family: 'Open Sans', sans-serif;
	text-align: right;/*text-transform: uppercase;*/
}

#boxlist h4 {
	padding: 0;
	padding-bottom: 2px;
	padding-top: 5px;
	font-weight: 300;
	font-style: normal;
	color: #137bca;
	text-rendering: optimizeLegibility;
	font-size: 24px;
	line-height: 1.2;
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
}

#boxlist p {
	padding: 0;
	padding-bottom: 2px;
	padding-top: 15px;
	font-weight: 400;
	font-style: normal;
	color: #137bca;
	text-rendering: optimizeLegibility;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	text-transform: uppercase;
}

.spacer {
	height: 340px;
	width: 100%;
	display: block;
}

.halfspacer {
	height: 100px;
	width: 100%;
	display: block;
}

.quarterspacer {
	height: 50px;
	width: 100%;
	display: block;
}

.rightAd {
	width: 100%;
}

.centerAd {
	display: none;
}

/*######## PRICES TUTORIALS #########*/

.buyTutorial {
	width: 100%;
	height: 68px;
	margin-bottom: -50px;
}

.buyTutorial h3 {
	font-weight: 400;
	font-style: normal;
	color: #137bca;
	text-rendering: optimizeLegibility;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 16px;
}

.iconCard a:link, .iconCard a:visited {
	width: 68px;
	height: 68px;
	display: block;
	position: relative;
	float: right;
	margin-right: 3px;
	border: 3px solid #f9f9f9;
	overflow: hidden;
	background-color: #137bca;
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0b4978;
	-moz-box-shadow: inset 0px 0px 2px 0px #0b4978;
	box-shadow: inset 0px 0px 2px 0px #0b4978;
}

.priceText a:link, .priceText a:visited {
	width: 78px;
	background-color: #137bca;
	height: 68px;
	float: right;
	text-align: center;
	display: block;
	position: relative;
	cursor: default;
	overflow: hidden;
	background-color: #dfdfdf;
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 2px 0px #c2c2c2;
	-moz-box-shadow: inset 0px 1px 2px 0px #c2c2c2;
	box-shadow: inset 0px 1px 2px 0px #c2c2c2;
	text-decoration: none;
	cursor: pointer;
}

.iconCard a:hover {
	background-color: #1887db;
	transition: all 0.25s linear 0s;
}

.buyTutorial:hover > .priceText a {
	background-color: #fff;
	transition: all 0.25s linear 0s;
}

.buyTutorial:hover > .iconCard a {
	background-color: #1887db;
	transition: all 0.25s linear 0s;
}

.screenshot {
	text-align: center;
}

/*ccc*/

.cccframe {
	font-family: 'Open Sans', sans-serif;
}

.cccframe p {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.01em;
	color: #444;
	padding: 0;
}

.cccframe h2 {
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 0;
	color: #222;
	margin-top: 40px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.cccframe p.title {
	margin-top: 40px;
	font-weight: 400;
	margin-bottom: 10px;
	color: #00BAE8;
	padding-bottom: 0px;
	text-transform: inherit;
	font-size: 14px;
	max-width: 450px;
	line-height: 1.5em;
}

.cccframe ul {
	list-style-position: outside;
	margin-left: 11px;
	font-size: 13px;
	list-style: url(../images/list.png);
	line-height: 22px;
	color: #444;
}

.cccframe ul li {
	margin-bottom: 10px;
}

.cccframe .CodeMirror {
	background-color: #f5f5f5;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#sthoverbuttons {
	top: auto !important;
	bottom: 10% !important;
	height: 200px;
}

#sthoverbuttons #sthoverbuttonsMain {
	width: 48px !important;
	padding: 0 5px !important;
}

#sthoverbuttons-top {
	background: #222c34 !important;
	height: 0px !important;
}

#sthoverbuttons-shade {
	background: none !important;
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkitborder-radius: 3px 0 0 3px;
}

#sthoverbuttons-bottom {
	background: #222c34 !important;
	height: 0px !important;
}

#sthoverbuttons .sthoverbuttons-label {
}

.clientheader {
	width: 100%;
	padding-top: 0px;
	height: auto;
	text-align: center;
	background: #E9E9E9;
	border-radius: 6px 6px 0px 0px;
}

/* ###### teams ###### */

.feature a:link {
	background-color: #E9E9E9;
	height: 40px;
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: #222;
	padding-top: 10px;
	padding-left: 10px;
	font-weight: 300;
}

.feature a:hover {
	background-color: #fff;
}

.team {
	display: inline;
	text-decoration: none;
	width: 100%;
	height: 45px;
	padding-left: 25px;
	padding-top: 30px;
}

.teamfirst {
	display: inline;
	text-decoration: none;
	width: 100%;
	height: 45px;
	padding-left: 0px;
	padding-top: 30px;
}
/* ###### teams ###### */

@media all and (max-width: 1024px) {

	.clientheader {
		width: 100%;
		padding-top: 20px;
		background-color: #e9e9e9;
		text-align: center;
	}

	.ipad .clientheader {
		width: 100%;
		padding-top: 0px;
		background-color: #e9e9e9;
		text-align: center;
	}

	.ipad .fixedmenu {
		top: 0px !important;
		position: relative;
		height: 60px;
	}

	.ipad .container {
		margin-top: 10px !important;
	}

	.no-back .fixedmenuContent ul {
		padding-left: 0px !important;
	}

	.no-back .goBack {
		display: none;
	}

	.fixedmenuContent a {
		font-size: .8em;
	}

	.linksGroup .separator {
		padding-top: 40px;
	}

	.linksGroup {
		margin-bottom: 40px;
	}

	.image img {
		max-width: 100%;
	}

	.image blockquote {
		width: 100%;
		float: left;
		padding: 0 30px;
		margin: auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

}

@media all and (max-width: 767px) {

	.fixedmenu, .no-touch .fixedmenu {
		position: relative;
		top: 9px;
		width: 100%;
		padding-top: 0px;
	}

	.headerAll {
		margin: 0 auto 10px;
	}

	.fixedmenuContent {
		padding-right: 0px;
		padding-top: 4px;
	}

	.containerBody {
		padding-top: 20px;
	}
	
	.container {
		margin-top: 10px;
		width: 90%;
	}
	
	.content {
		width: 100%;
		float: none;
		margin-top: 0px;
	}

	.ctools .content {
		margin-top: 20px;
	}

	.clientheader {
		width: 100%;
		margin-top: 10px;
		padding-top: 0px;
		background-color: #e9e9e9;
		text-align: center;
	}

	.goBack {
		height: 35px;
		width: 35px;
		background-position: 0px 0px;
	}

	.goBack:hover {
		background-position: -33px;
	}

	.buttonblock {
		height: 33px;
		margin-top: 2px;
	}

	.buttondl a, .buttonlog a, .buttongit a {
		height: 33px;
		width: 33px;
	}

	.buttoncontact a {
		height: 33px;
	}

	.buttondl a:link {
		background-position: -68px -1px;
	}

	.buttonlog a:link {
		background-position: -101px -1px;
	}

	.buttongit a:link {
		background-position: -134px -1px;
	}

	.buttoncontact a:link {
		background-position: -168px -1px;
		line-height: 30px;
	}

	.buttonblock {
		display: none;
	}

	.ctools .content h1:first-child {
		text-align: center;
	}

	.buttonblockMobile {
		display: block;
		width: 222px;
		margin: auto;
		padding-bottom: 20px;
		margin-top: -20px;
	}

	.buttonblockMobile a {
		float: right;
	}

	.fixedmenu ul {
		height: 35px;
		background-position: center;
		width: 90%;
		float: right;
	}

	.fixedmenu ul li, .fixedmenuContent a:link, .fixedmenuContent a.selected a:link {
		height: 35px !important;
		line-height: 32px;
	}

	.fixedmenu {
		margin-top: 5px !important;
	}

	.spacer {
		display: none;
	}

	#boxlist {
		display: none;
	}

	.centerAd {
		width: 100%;
		height: 140px;
		background-color: #f9f9f9;
		margin: 20px 0;
		padding: 20px;
		position: relative;
		display: block;
	}

	.leftInsideAd {
		float: left;
		width: 55%;
	}

	.leftInsideAd h1 {
		padding: 0px !important;
		margin: 0px !important;
		font-size: 20px !important;
		height: 100px;
		vertical-align: middle;
		display: table-cell;
		border: none;
	}

	.leftInsideAd h1 br {
		display: none;
	}

	.rightInsideAd {
		float: right;
		width: 40%;
		min-width: 150px;
		position: absolute;
		top: 50%;
		margin-top: -35px;
		right: 20px;
	}

	.centerAd h2 {
		padding: 0;
		padding-bottom: 2px;
		padding-top: 5px;
		font-weight: 500;
		font-style: normal;
		color: #137bca;
		text-rendering: optimizeLegibility;
		font-size: 12px;
		margin-top: -20px;
		font-family: 'Open Sans', sans-serif;
		text-align: right;/*text-transform: uppercase;*/
	}
}

@media all and (max-width: 480px) {

	.rodape {
		padding-top: 30px;
	}

	.image {
		text-align: center;
	}

	.image img {
		max-width: 100%;
	}

	.image blockquote {
		width: auto;
	}

	.buySeparator {
		display: block !important;
	}

	#boxlist .buyTutorial .button {
		display: block !important;
	}

	.demoImage {
		width: 100%;
		float: none;
		text-align: center;
	}

	.demoDescription {
		width: 100%;
		float: none;
		text-align: left;
	}

	.demoTitle {
		text-align: left;
	}

	.demo p {
		text-align: left;
	}
}
