/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 12px;
	color: #333;
	
	padding: 12px 8px;
	border: 2px solid #137BCA;
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px 0px #777;
box-shadow: 1px 1px 2px 0px #777; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #137BCA;
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #137BCA;
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #137BCA;
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #137BCA;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: #137BCA;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: #137BCA;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: #137BCA;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: #137BCA;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color:  #fff;
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color:  #fff;
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color:  #fff;
	}
}