<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-us" }}">
<head>
  {% include default-html-headers.html %}
</head>
<body class="intro-layout">
  <header class="site-header">
    <a class="logo" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="Pentaho" onerror="this.src='http://www.pentaho.com/sites/all/themes/pentaho_resp/logo.svg';">
    </a>
  </header>

  <section class="page-header intro-page-header">
    <div class="page-header-wrapper">
        <h1 class="project-name">{{ site.titleHtml | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
        {% endif %}
    </div>
  </section>

  <section class="main-content">
    {{ content }}
  </section>

  {% include default-footer-learn-more.html %}
  {% include default-footer-community.html %}
</body>
</html>
