
<!-- @RESOURCE@ "wdIncludes.html"  -->
<!-- @RESOURCE@ "cccIncludes.html" --><div class="bodycopydiv">
   <ul class="bodycopy">
      <li class="negrito">
         <t:summary xmlns:t="urn:webdetails/tmp/2012" xmlns="http://www.w3.org/1999/xhtml">
            Bar charts are used for plotting data which has discrete values. 
            The lengths of the bars are proportional to the values that they represent.
            
         </t:summary>
      </li>
      <li></li>
      <li></li>
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 1 BEG-->
      <div class="bodycopytitle">SIMPLE BAR</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccBarExample1.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 1 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 2 BEG-->
      <div class="bodycopytitle">RICH BAR</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccBarExample2.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 2 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 3 BEG-->
      <div class="bodycopytitle">NEGATIVE VALUES BAR</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccBarExample3.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 3 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 4 BEG-->
      <div class="bodycopytitle">STACKED BAR</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccBarExample4.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 4 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 5 BEG-->
      <div class="bodycopytitle">NEGATIVE VALUES STACKED BAR</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccBarExample5.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 5 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 6 BEG-->
      <div class="bodycopytitle">HORIZONTAL STACKED BAR</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccBarExample6.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 6 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 7 BEG-->
      <div class="bodycopytitle">ALL IN ONE BAR</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccBarExample7.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 7 END-->
   </ul>
</div>