
<!-- @RESOURCE@ "wdIncludes.html"  -->
<!-- @RESOURCE@ "cccIncludes.html" --><div class="bodycopydiv">
   <ul class="bodycopy">
      <li class="negrito">
         <t:summary xmlns:t="urn:webdetails/tmp/2012" xmlns="http://www.w3.org/1999/xhtml">
            A heat-grid is a colored matrix that displays a two-dimensional data-set.
            The intensity or the color of each cell depends on the value that it represents.
            
         </t:summary>
      </li>
      <li></li>
      <li></li>
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 1 BEG-->
      <div class="bodycopytitle">GLOBAL COLORS</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccHGExample1.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 1 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 2 BEG-->
      <div class="bodycopytitle">COLORS BY COLUMN</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccHGExample2.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 2 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 3 BEG-->
      <div class="bodycopytitle">HORIZONTAL COLORS BY COLUMN</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccHGExample3.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 3 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 4 BEG-->
      <div class="bodycopytitle">INTERACTIVE</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccHGExample4.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 4 END-->
      <div class="clear"></div>
      <div class="vSpacer"></div>
      <!--EXAMPLE 5 BEG-->
      <div class="bodycopytitle">SIZE, COLOR AND COMPOSITE AXIS</div>
      <div class="chartContent">
         <div class="chartDefs">
            <textarea class="chartDefsTextArea" cols="55" rows="15">
               <!-- @RESOURCE@ "cccHGExample5.js" -->
            </textarea>
            <button class="tryMe" onclick="tryMe(this)">Try me</button>
         </div>
         <div class="chartDiv"></div>
         <div class="clear"></div>
      </div>
      <!--EXAMPLE 5 END-->
   </ul>
</div>