<!DOCTYPE html>
<html>
<head>
<title>CCC Samples - Bar</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- @RESOURCE@ "cccIncludes.html" -->
</head>

<body>
<h1>Bar Chart</h1>
Bar charts are used for plotting data which has discrete values. The lengths of the bars are
proportional to the values that they represent.

<h2>Examples</h2>



<h3>A simple Bar chart</h3>
For drawing a very simple bar chart, just provide the data and set the orientation of the bars.<br>  
<div class="tryItTable">
<div>
<div>
<textarea cols="90" rows="21"><!-- @RESOURCE@ "cccBarExample1.js" --></textarea>
<button id="pvcBar1TryMe" class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div><div id="cccBarExample1"></div></div>
</div>
</div>


<h3>A Rich Bar chart</h3>
A simple bar chart can be enhanced by setting properties to the panel, bars, axis or legends.<br>
<div class="tryItTable">
<div>
<div>
<textarea cols="55" rows="29"><!-- @RESOURCE@ "cccBarExample2.js" --></textarea>
<button class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div>
<div id="cccBarExample2"></div>
</div>
</div>
</div>
 
 
<h3>A Bar chart with negative values</h3>
<div class="tryItTable">
<div>
<div>
<textarea cols="55" rows="15"><!-- @RESOURCE@ "cccBarExample3.js" --></textarea>
<button class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div>
<div id="cccBarExample3"></div>
</div>
</div>
</div>

 
<h3>A Stacked Bar chart</h3>
You can represent a third dimension of data through a stack bar chart. In this way, a single bar on the chart can show data for more than one category of data.<br>
To draw a stacked bar just set the stacked property to true. To a better understanding of the chart, consider configuring the Legend.<br>
<div class="tryItTable">
<div>
<div>
<textarea cols="55" rows="15"><!-- @RESOURCE@ "cccBarExample4.js" --></textarea>
<button class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div>
<div id="cccBarExample4"></div>
</div>
</div>
</div>


<h3>A stacked bar chart with negative values</h3>
<div class="tryItTable">
<div>
<div>
<textarea cols="55" rows="24"><!-- @RESOURCE@ "cccBarExample5.js" --></textarea>
<button class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div>
<div id="cccBarExample5"></div>
</div>
</div>
</div>

<h3>An horizontal Stacked Bar chart</h3>
The stacked bar chart of the previous example, but with an 'horizontal' orientation.<br>
<div class="tryItTable">
<div>
<div>
<textarea cols="55" rows="24"><!-- @RESOURCE@ "cccBarExample6.js" --></textarea>
<button class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div>
<div id="cccBarExample6"></div>
</div>
</div>
</div>


<h3>A stacked bar chart with line series</h3>
<div class="tryItTable">
<div>
<div>
<textarea cols="55" rows="15"><!-- @RESOURCE@ "cccBarExample7.js" --></textarea>
<button class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div>
        <div id="cccBarExample7"></div>
</div>
</div>
</div>


<h3>Yet Another Stacked Bar chart</h3>
Consumes crosstab data and contains null values<br>
<div class="tryItTable">
<div>
<div>
<textarea cols="55" rows="24"><!-- @RESOURCE@ "cccBarExample8.js" --></textarea>
<button class="tryMe" onclick='tryMe(this)'>Try me</button>
</div>
<div>
<div id="cccBarExample8"></div>
</div>
</div>
</div>

</body>
</html>
